.idea
.openshift
node_modules
README_private.md

/dist
/data/users.json
/data/users.test.json
/data/prod-backup
/data/bets.json
/data/log
/game/build
/game/node_modules
/config/config.js
/config/production/*
#/public/js/bundle.*
dev.js
logEmails
bfg.jar